##############################
## Java
##############################
*.class
*.jar

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/

##############################
## Eclipse
##############################
.settings/
bin/
.metadata
.classpath
.project